body {
     font-family: Verdana; sans-serif;
     background: #FFEFD5 no-repeat;
     background-size:cover;
    /* font-size: 13px;*/
     }
/*form#father_div{
	position:relative;
	left: 110px;
	background:white;
	padding-right:200px;
	padding-right-color:#FFEFD5;

}*/
.form_bg{
	background: rgba(255,255,255,0.2);
	width:800px;
	margin:100px auto;
	}

.label_font_size{
	font-size:13px;
}

.dropdown_font_size{
	font-size:13px;
	font-family: Verdana; sans-serif;
}

.label_before::before {
   content:"*";
   color: red;
}

.fill_request{
	font-size: 10px;
	margin-right: 15px;
	color:red;
}