:root{
    /* header color */
    --page-header-color : #1E1E24;

	--page-bg-color: #1F2132;
    --page-bg-gray-color : #f9f9f9;

    --stereo-blue: rgba(0,162,217, 0.6);
    
	--border-color : #545454;
	--content-bg-color : #262B3D;
	--button-hover-color : #7CD3F7;
	--text-label-color : #E2EFFA;
	--button-hover-border-color : #888;
    /* tools */
    --graph-tools-border-color : #C4CDD5;
    --tools-bg-color : rgba(242, 245, 250, 0.3);
    /* page size */
    --page-min-width : 1200px;

    --stereo-white: #fff;
    --stereo-white-rgb: 255,255,255;
    --stereo-black: #000;
    --stereo-black-rgb: 0,0,0;
    --stereo-gray-0: #f8f9fa;
    --stereo-gray-0-rgb: 248,249,250;
    --stereo-gray-1: #f1f3f5;
    --stereo-gray-1-rgb: 241,243,245;
    --stereo-gray-2: #e9ecef;
    --stereo-gray-2-rgb: 233,236,239;
    --stereo-gray-3: #dee2e6;
    --stereo-gray-3-rgb: 222,226,230;
    --stereo-gray-4: #ced4da;
    --stereo-gray-4-rgb: 206,212,218;
    --stereo-gray-5: #adb5bd;
    --stereo-gray-5-rgb: 173,181,189;
    --stereo-gray-6: #868e96;
    --stereo-gray-6-rgb: 134,142,150;
    --stereo-gray-7: #495057;
    --stereo-gray-7-rgb: 73,80,87;
    --stereo-gray-8: #343a40;
    --stereo-gray-8-rgb: 52,58,64;
    --stereo-gray-9: #212529;
    --stereo-gray-9-rgb: 33,37,41;
    --stereo-red-0: #fff5f5;
    --stereo-red-0-rgb: 255,245,245;
    --stereo-red-1: #ffe3e3;
    --stereo-red-1-rgb: 255,227,227;
    --stereo-red-2: #ffc9c9;
    --stereo-red-2-rgb: 255,201,201;
    --stereo-red-3: #ffa8a8;
    --stereo-red-3-rgb: 255,168,168;
    --stereo-red-4: #ff8787;
    --stereo-red-4-rgb: 255,135,135;
    --stereo-red-5: #ff6b6b;
    --stereo-red-5-rgb: 255,107,107;
    --stereo-red-6: #fa5252;
    --stereo-red-6-rgb: 250,82,82;
    --stereo-red-7: #f03e3e;
    --stereo-red-7-rgb: 240,62,62;
    --stereo-red-8: #e03131;
    --stereo-red-8-rgb: 224,49,49;
    --stereo-red-9: #c92a2a;
    --stereo-red-9-rgb: 201,42,42;
    --stereo-pink-0: #fff0f6;
    --stereo-pink-0-rgb: 255,240,246;
    --stereo-pink-1: #ffdeeb;
    --stereo-pink-1-rgb: 255,222,235;
    --stereo-pink-2: #fcc2d7;
    --stereo-pink-2-rgb: 252,194,215;
    --stereo-pink-3: #faa2c1;
    --stereo-pink-3-rgb: 250,162,193;
    --stereo-pink-4: #f783ac;
    --stereo-pink-4-rgb: 247,131,172;
    --stereo-pink-5: #f06595;
    --stereo-pink-5-rgb: 240,101,149;
    --stereo-pink-6: #e64980;
    --stereo-pink-6-rgb: 230,73,128;
    --stereo-pink-7: #d6336c;
    --stereo-pink-7-rgb: 214,51,108;
    --stereo-pink-8: #c2255c;
    --stereo-pink-8-rgb: 194,37,92;
    --stereo-pink-9: #a61e4d;
    --stereo-pink-9-rgb: 166,30,77;
    --stereo-grape-0: #f8f0fc;
    --stereo-grape-0-rgb: 248,240,252;
    --stereo-grape-1: #f3d9fa;
    --stereo-grape-1-rgb: 243,217,250;
    --stereo-grape-2: #eebefa;
    --stereo-grape-2-rgb: 238,190,250;
    --stereo-grape-3: #e599f7;
    --stereo-grape-3-rgb: 229,153,247;
    --stereo-grape-4: #da77f2;
    --stereo-grape-4-rgb: 218,119,242;
    --stereo-grape-5: #cc5de8;
    --stereo-grape-5-rgb: 204,93,232;
    --stereo-grape-6: #be4bdb;
    --stereo-grape-6-rgb: 190,75,219;
    --stereo-grape-7: #ae3ec9;
    --stereo-grape-7-rgb: 174,62,201;
    --stereo-grape-8: #9c36b5;
    --stereo-grape-8-rgb: 156,54,181;
    --stereo-grape-9: #862e9c;
    --stereo-grape-9-rgb: 134,46,156;
    --stereo-violet-0: #f3f0ff;
    --stereo-violet-0-rgb: 243,240,255;
    --stereo-violet-1: #e5dbff;
    --stereo-violet-1-rgb: 229,219,255;
    --stereo-violet-2: #d0bfff;
    --stereo-violet-2-rgb: 208,191,255;
    --stereo-violet-3: #b197fc;
    --stereo-violet-3-rgb: 177,151,252;
    --stereo-violet-4: #9775fa;
    --stereo-violet-4-rgb: 151,117,250;
    --stereo-violet-5: #845ef7;
    --stereo-violet-5-rgb: 132,94,247;
    --stereo-violet-6: #7950f2;
    --stereo-violet-6-rgb: 121,80,242;
    --stereo-violet-7: #7048e8;
    --stereo-violet-7-rgb: 112,72,232;
    --stereo-violet-8: #6741d9;
    --stereo-violet-8-rgb: 103,65,217;
    --stereo-violet-9: #5f3dc4;
    --stereo-violet-9-rgb: 95,61,196;
    --stereo-indigo-0: #edf2ff;
    --stereo-indigo-0-rgb: 237,242,255;
    --stereo-indigo-1: #dbe4ff;
    --stereo-indigo-1-rgb: 219,228,255;
    --stereo-indigo-2: #bac8ff;
    --stereo-indigo-2-rgb: 186,200,255;
    --stereo-indigo-3: #91a7ff;
    --stereo-indigo-3-rgb: 145,167,255;
    --stereo-indigo-4: #748ffc;
    --stereo-indigo-4-rgb: 116,143,252;
    --stereo-indigo-5: #5c7cfa;
    --stereo-indigo-5-rgb: 92,124,250;
    --stereo-indigo-6: #4c6ef5;
    --stereo-indigo-6-rgb: 76,110,245;
    --stereo-indigo-7: #4263eb;
    --stereo-indigo-7-rgb: 66,99,235;
    --stereo-indigo-8: #3b5bdb;
    --stereo-indigo-8-rgb: 59,91,219;
    --stereo-indigo-9: #364fc7;
    --stereo-indigo-9-rgb: 54,79,199;
    --stereo-blue-0: #e7f5ff;
    --stereo-blue-0-rgb: 231,245,255;
    --stereo-blue-1: #d0ebff;
    --stereo-blue-1-rgb: 208,235,255;
    --stereo-blue-2: #a5d8ff;
    --stereo-blue-2-rgb: 165,216,255;
    --stereo-blue-3: #74c0fc;
    --stereo-blue-3-rgb: 116,192,252;
    --stereo-blue-4: #4dabf7;
    --stereo-blue-4-rgb: 77,171,247;
    --stereo-blue-5: #339af0;
    --stereo-blue-5-rgb: 51,154,240;
    --stereo-blue-6: #228be6;
    --stereo-blue-6-rgb: 34,139,230;
    --stereo-blue-7: #1c7ed6;
    --stereo-blue-7-rgb: 28,126,214;
    --stereo-blue-8: #1971c2;
    --stereo-blue-8-rgb: 25,113,194;
    --stereo-blue-9: #1864ab;
    --stereo-blue-9-rgb: 24,100,171;
    --stereo-cyan-0: #e3fafc;
    --stereo-cyan-0-rgb: 227,250,252;
    --stereo-cyan-1: #c5f6fa;
    --stereo-cyan-1-rgb: 197,246,250;
    --stereo-cyan-2: #99e9f2;
    --stereo-cyan-2-rgb: 153,233,242;
    --stereo-cyan-3: #66d9e8;
    --stereo-cyan-3-rgb: 102,217,232;
    --stereo-cyan-4: #3bc9db;
    --stereo-cyan-4-rgb: 59,201,219;
    --stereo-cyan-5: #22b8cf;
    --stereo-cyan-5-rgb: 34,184,207;
    --stereo-cyan-6: #15aabf;
    --stereo-cyan-6-rgb: 21,170,191;
    --stereo-cyan-7: #1098ad;
    --stereo-cyan-7-rgb: 16,152,173;
    --stereo-cyan-8: #0c8599;
    --stereo-cyan-8-rgb: 12,133,153;
    --stereo-cyan-9: #0b7285;
    --stereo-cyan-9-rgb: 11,114,133;
    --stereo-teal-0: #e6fcf5;
    --stereo-teal-0-rgb: 230,252,245;
    --stereo-teal-1: #c3fae8;
    --stereo-teal-1-rgb: 195,250,232;
    --stereo-teal-2: #96f2d7;
    --stereo-teal-2-rgb: 150,242,215;
    --stereo-teal-3: #63e6be;
    --stereo-teal-3-rgb: 99,230,190;
    --stereo-teal-4: #38d9a9;
    --stereo-teal-4-rgb: 56,217,169;
    --stereo-teal-5: #20c997;
    --stereo-teal-5-rgb: 32,201,151;
    --stereo-teal-6: #12b886;
    --stereo-teal-6-rgb: 18,184,134;
    --stereo-teal-7: #0ca678;
    --stereo-teal-7-rgb: 12,166,120;
    --stereo-teal-8: #099268;
    --stereo-teal-8-rgb: 9,146,104;
    --stereo-teal-9: #087f5b;
    --stereo-teal-9-rgb: 8,127,91;
    --stereo-green-0: #ebfbee;
    --stereo-green-0-rgb: 235,251,238;
    --stereo-green-1: #d3f9d8;
    --stereo-green-1-rgb: 211,249,216;
    --stereo-green-2: #b2f2bb;
    --stereo-green-2-rgb: 178,242,187;
    --stereo-green-3: #8ce99a;
    --stereo-green-3-rgb: 140,233,154;
    --stereo-green-4: #69db7c;
    --stereo-green-4-rgb: 105,219,124;
    --stereo-green-5: #51cf66;
    --stereo-green-5-rgb: 81,207,102;
    --stereo-green-6: #40c057;
    --stereo-green-6-rgb: 64,192,87;
    --stereo-green-7: #37b24d;
    --stereo-green-7-rgb: 55,178,77;
    --stereo-green-8: #2f9e44;
    --stereo-green-8-rgb: 47,158,68;
    --stereo-green-9: #2b8a3e;
    --stereo-green-9-rgb: 43,138,62;
    --stereo-lime-0: #f4fce3;
    --stereo-lime-0-rgb: 244,252,227;
    --stereo-lime-1: #e9fac8;
    --stereo-lime-1-rgb: 233,250,200;
    --stereo-lime-2: #d8f5a2;
    --stereo-lime-2-rgb: 216,245,162;
    --stereo-lime-3: #c0eb75;
    --stereo-lime-3-rgb: 192,235,117;
    --stereo-lime-4: #a9e34b;
    --stereo-lime-4-rgb: 169,227,75;
    --stereo-lime-5: #94d82d;
    --stereo-lime-5-rgb: 148,216,45;
    --stereo-lime-6: #82c91e;
    --stereo-lime-6-rgb: 130,201,30;
    --stereo-lime-7: #74b816;
    --stereo-lime-7-rgb: 116,184,22;
    --stereo-lime-8: #66a80f;
    --stereo-lime-8-rgb: 102,168,15;
    --stereo-lime-9: #5c940d;
    --stereo-lime-9-rgb: 92,148,13;
    --stereo-yellow-0: #fff9db;
    --stereo-yellow-0-rgb: 255,249,219;
    --stereo-yellow-1: #fff3bf;
    --stereo-yellow-1-rgb: 255,243,191;
    --stereo-yellow-2: #ffec99;
    --stereo-yellow-2-rgb: 255,236,153;
    --stereo-yellow-3: #ffe066;
    --stereo-yellow-3-rgb: 255,224,102;
    --stereo-yellow-4: #ffd43b;
    --stereo-yellow-4-rgb: 255,212,59;
    --stereo-yellow-5: #fcc419;
    --stereo-yellow-5-rgb: 252,196,25;
    --stereo-yellow-6: #fab005;
    --stereo-yellow-6-rgb: 250,176,5;
    --stereo-yellow-7: #f59f00;
    --stereo-yellow-7-rgb: 245,159,0;
    --stereo-yellow-8: #f08c00;
    --stereo-yellow-8-rgb: 240,140,0;
    --stereo-yellow-9: #e67700;
    --stereo-yellow-9-rgb: 230,119,0;
    --stereo-orange-0: #fff4e6;
    --stereo-orange-0-rgb: 255,244,230;
    --stereo-orange-1: #ffe8cc;
    --stereo-orange-1-rgb: 255,232,204;
    --stereo-orange-2: #ffd8a8;
    --stereo-orange-2-rgb: 255,216,168;
    --stereo-orange-3: #ffc078;
    --stereo-orange-3-rgb: 255,192,120;
    --stereo-orange-4: #ffa94d;
    --stereo-orange-4-rgb: 255,169,77;
    --stereo-orange-5: #ff922b;
    --stereo-orange-5-rgb: 255,146,43;
    --stereo-orange-6: #fd7e14;
    --stereo-orange-6-rgb: 253,126,20;
    --stereo-orange-7: #f76707;
    --stereo-orange-7-rgb: 247,103,7;
    --stereo-orange-8: #e8590c;
    --stereo-orange-8-rgb: 232,89,12;
    --stereo-orange-9: #d9480f;
    --stereo-orange-9-rgb: 217,72,15;
}

::-webkit-scrollbar {/*滚动条整体样式*/
        width: 5px;     /*高宽分别对应横竖滚动条的尺寸*/
        height: 10px;
        /*display: none;*/
    }

::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
        border-radius: 2px;
        /*-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);*/
        background: #535353;
    }

::-webkit-scrollbar-track {/*滚动条里面轨道*/
        -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
        border-radius: 10px;
        background: #EDEDED;
}

