.shadow{
	box-shadow: 2px 2px 2px lightgrey;
}

.text-green{
	color: green;
}
.text-blue{
	color: var(--stereo-blue-9);
}
.text-right{
	float: right;
}

.gridtable{	
	width: 100%;
	height: 397px;
	border: 1px solid #ddd;
	border-collapse:collapse;
	vertical-align:middle!important;
}
table.gridtable th {
	text-align:left;
	border-top: 1px;
	height:82.3px;
	vertical-align:middle!important;
	font-size: 0.85em;
	font-weight: bold;
	padding: 8px;
	border-bottom:1px solid #dedede;
}
table.gridtable td {
    vertical-align:middle!important;
	text-align: center;
	padding: 8px;
	font-size: 1em;
	/* font-weight: 200;   */
	border-bottom:1px solid #dedede;  
}

table.gridtable thead {
    background: #f5f5f6;
}

.card-fig{
	margin:15px;
}

.card-mid{
	height: 515px;
	padding: 0px 0px;
}
.table-layout{
	height: 250px;
	padding: 0px 0px;
}
.table-layout th{
	vertical-align:middle!important;
	font-size: 1em;
	/* font-weight: 250px; */
	padding-top:10px;
	margin:0px;
}
.table-layout td{
	vertical-align:middle!important;
	font-size: 1em;
	/* font-weight: 250px; */
	padding:8px;
	margin:0px;
}

.total-stat-table{
	height: 471px;
	padding: 0px 0px;
}
.total-stat-table th{
	vertical-align:middle!important;
	font-size: 1em;
	/* font-weight: 250px; */
	padding-top:10px;
	margin:0px;
}
.total-stat-table td{
	vertical-align:middle!important;
	font-size: 1em;
	/* font-weight: 250px; */
	padding:8px;
	margin:0px;
}

.font-DIN{
	font-family: DIN Next LT Pro;
}
.bin-img{
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}

